body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    justify-content: center;
    width: 800px;
    height: 800px;
    flex-wrap: wrap;
    outline: solid black 3px;
    margin: 5px 0px;
}

.square {
    width: 6.25%;
    height: 6.25%;
}